body{
    background-color: black;
}
.hero-section{
    background-image: url(assets/img/);
}
@media (max-width: 400px){
    .display-none{
        display: none;
    }
}
.celeste{
    background-color: #17a3b8;
}
.altura-imagen{
    height: 35%;
    width: 100%;
}