body{
    background-color: black;
}
.icono{
    width: 2rem;
    height: 2rem;
}
.hero-section{
    background-image: url(assets/img/);
}
@media (max-width: 400px){
    .display-none{
        display: none;
    }
}
.celeste{
    background-color: #17a3b8;
}
.altura-imagen{
    max-height: 35%;
    width: 100%;
}
.celeste2{
    color: #17a3b8;
}