body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.icono{
    width: 2rem;
    height: 2rem;
}

.hero-section{
    background-image: url(assets/img/);
}
@media (max-width: 400px){
    .display-none{
        display: none;
    }
    .mobilecenter{
        margin: 0 auto;
        text-align: center;
    }
    h1{
        font-size: 2.2rem;
    }
}
.celeste{
    background-color: #17a3b8;
}
.altura-imagen{
    max-height: 35%;
    width: 100%;
}
.celeste2{
    color: #17a3b8;
}
.link a{
    color: white;
    text-decoration: none;
}
@media (min-width: 401px){
.ancho{
    width: 45%;
    margin: 0 0 0 auto;
}
}